@media (min-width: 1200px) {
    #intro {
        background: url('/Images/bgtransgrad-500.png') no-repeat left center, 
                    url('/Images/IntroBack/notification-full.jpg') no-repeat right center; 
    }
}
@media (min-width: 980px) and (max-width: 1199px) {
    #intro {
        background: url('/Images/bgtransgrad-500.png') no-repeat left center, 
                    url('/Images/IntroBack/notification-1200.jpg') no-repeat right center; 
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    #intro {
        background: url('/Images/bgtransgrad-250.png') no-repeat left center, 
                    url('/Images/IntroBack/notification-980.jpg') no-repeat right center; 
    }
}
@media (max-width: 767px) {
    #intro {
        background: url('/Images/bgtransgrad-150.png') no-repeat left center, 
                    url('/Images/IntroBack/notification-770.jpg') no-repeat right center; 
    }
}

#nf-wrapper {
    position: relative;
    margin-top: -30px;
}
#nf-list {
    position: relative;
    list-style-type: none;  
    margin: 0;
    padding: 0;
}
#nf-list li {
    list-style-type: none;
    background-color: #f8f8f8;
    display: none;
    padding: 20px;
    width: 250px;
    border-top-width: 25px;
    border-top-style: solid;
}
#nf-list li em {
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    font-style: normal;
    margin-bottom: 10px;
    margin-left: -12px;
    margin-top: -42px;
}
#nf-list li small {
    display: inline-block;
    margin-bottom: 0;
    font-style: italic;
}
#nf-list li > a {
    text-decoration: none;
    color: #333;
}
#nf-list li > a:hover {
    text-decoration: underline;
}
#nf-list li h4 {
    padding: 0;
    line-height: 18px;
}
#nf-list li strong {
    display: inline-block;
    line-height: 16px;
}
#nf-list li p {
    margin-top: 10px;
    margin-bottom: 0;
}

#nf-filter {
    margin-top: 10px; 
    display:inline-block;    
}
#nf-filter a.cmd-filter.nf-type-all { color: #333333; border-color: #333333; }
#nf-filter a.cmd-filter.nf-type-0 { color: #B80000; border-color: #B80000; }
#nf-filter a.cmd-filter.nf-type-1 { color: #E47900; border-color: #E47900; }
#nf-filter a.cmd-filter.nf-type-2 { color: #CB7311; border-color: #CB7311; }
#nf-filter a.cmd-filter.nf-type-3 { color: #3498DB; border-color: #3498DB; }
#nf-filter a.cmd-filter.nf-type-4 { color: #2D76AA; border-color: #2D76AA; }
#nf-filter a.cmd-filter.nf-type-5 { color: #666666; border-color: #666666; }
#nf-filter a.cmd-filter.nf-type-6 { color: #1C8E31; border-color: #1C8E31; }

#nf-filter a.cmd-filter.nf-type-all.selected,
#nf-filter a.cmd-filter.nf-type-all:hover { background-color: #333333; }
#nf-filter a.cmd-filter.nf-type-0.selected,
#nf-filter a.cmd-filter.nf-type-0:hover { background-color: #B80000; }
#nf-filter a.cmd-filter.nf-type-1.selected,
#nf-filter a.cmd-filter.nf-type-1:hover { background-color: #E47900; }
#nf-filter a.cmd-filter.nf-type-2.selected,
#nf-filter a.cmd-filter.nf-type-2:hover { background-color: #CB7311; }
#nf-filter a.cmd-filter.nf-type-3.selected,
#nf-filter a.cmd-filter.nf-type-3:hover { background-color: #3498DB; }
#nf-filter a.cmd-filter.nf-type-4.selected,
#nf-filter a.cmd-filter.nf-type-4:hover { background-color: #2D76AA; }
#nf-filter a.cmd-filter.nf-type-5.selected,
#nf-filter a.cmd-filter.nf-type-5:hover { background-color: #666666; }
#nf-filter a.cmd-filter.nf-type-6.selected,
#nf-filter a.cmd-filter.nf-type-6:hover { background-color: #1C8E31; }
